
body {
    background-color: rgb(230, 216, 203);
    height: 100vh;
    overflow: hidden;
}
#bg {
    position: absolute;
    background-image: url("../img/bg.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 102%;
    height: 105%;
    transition: all 0.1s ease;  
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    z-index: -1;
}
#bg2{
    width: 100%;
    height: 100%;
    background-image: url("../img/2.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

#main{
    width: 960px;
    height: 680px;
    padding-top: 200px;
}

#game_window{
    width: 100%;    
    height: 100%;
    z-index: 0;
    position: relative;
}
#user_data{
    width: 960px;
    height: 150px;
    padding-left: 220px;
}
#width_height{
    float: left;
    margin-left: 20px;
}
.input_size , .buttons{
    border: 2px solid rgb(74, 51, 10);
    border-radius: 6px;
    outline: none;
    width: 100px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    color: rgb(74, 51, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#start_gen{
    height: 30px;
    width: 200px;
}
#rebuild_game_scene{
    height: 30px;
    width: 150px;
    border-radius: 6px 6px 0 0;
}
.buttons:hover{
    background-color: rgb(74, 51, 10);
    color: #ede3d8;
    cursor: pointer;
}
#rebuild_on_finish{
    background-image: url("../img/restart.png");
    height: 50px;
    width: 50px;
    background-size: contain;
}
#rebuild_on_finish:hover{
    animation: rotate 1s linear infinite;
    cursor: pointer;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/* #finish_gif{
    position: absolute;
    z-index: 2;
    pointer-events: none;
    visibility: hidden;
} */
